$colors: (
    common: (
        white: #ffffff,
        black: #000,
    ),
    heading: (
        primary: #000000,
        secondary:#393939,
        b-light:#2e2e2e,
        white: #ffffff,
    ),
    grey: (
        1:#F8FAFA,
        2:#8e8e8e,

    ),
    text: (
        body:#000,
        1:#000000,
        2:#bbbbbb,
    ),
    theme: (
        1: #000000,
        2: #555555,

    ),
    border: (
        1: #000000,
        2: #000000,
    )
);
